:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}
.field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.field:last-child {
  padding: 0 10px;
}
.button-field {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px 10px 10px;
}
.add-skills {
  margin-top: 20px;
  width: 100%;
  background-color: #A3B5BF;
  border: 1px solid #333333;
  border-radius: 10px;
}
.field-title {
  padding-bottom: 1.34375em;
}
.mat-flat-button {
  background-color: #105B74;
  color: white;
}
