.heroes-list {
  background-color: #A3B5BF;
  border: 1px solid #333333;
  border-radius: 10px;
  margin: 10px 0;
  position: relative;
  overflow: scroll;
  height: 70vh;
}
.mat-card {
  display: inline-block;
  margin: 5px;
  background-color: #A3B5BF;
  color: #23343F;
}
.mat-expansion-panel {
  margin: 10px;
}
.field-hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}
.button-field {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px 10px 10px;
  margin-top: 10px;
}
.mat-expansion-panel-header-description {
  flex-grow: 0.2;
}
.field:last-child {
  padding: 0 10px;
}
.field-skill {
  display: flex;
  flex-direction: row;
}
.field-power {
  margin-bottom: 5px;
}
.field-skill-title {
  display: flex;
  align-items: center;
}
.button-delete-field {
  cursor: pointer;
  padding: 0 10px 0 30px;
}
::-webkit-scrollbar{
  width: 12px;
  padding-right: 5px;
  height: 0;
}
::-webkit-scrollbar-thumb{
  background: #105B74;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
}
.mat-flat-button {
  background-color: #105B74;
  color: white;
}
.mat-expansion-panel {
  background-color: #e5e5e5;
}
