<form class="heroes-list">
  <div class="all-heroes">
    <div class="field-hero" *ngFor="let hero of heroes">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{hero.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{hero.level}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="field-power">
          Сила: {{hero.power}}
        </div>
        <div class="field-skill">
          <div class="field-skill-title">
            Способности:
          </div>
          <div class="field-skill-card">
              <mat-card *ngFor="let skill of hero.skill">{{skill.name}}</mat-card>
          </div>
        </div>
        <div class="button-field">
          <div class="button-select-field">
            <button mat-flat-button (click)="setSelectedHero(hero)">Редактировать</button>
          </div>
          <div class="button-delete-field">
            <mat-icon aria-hidden="false" aria-label="Delete this hero!" class="delete-field" (click)="deleteHero(hero.id)">delete_outline</mat-icon>
          </div>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</form>
