.filter-heroes {
  background-color: azure;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.example-margin {
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.field-column {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.filter-heroes-level {
  max-width: 100px;
}
.field-title {
  display: flex;
  padding: 1.34375em;
}
.field-content {
  display: flex;
}
.field {
  display: flex;
  flex-direction: row;
}
.field-level-border {
  display: flex;
  align-items: center;
  padding: 0 5px 1.34375em 5px;
}
